---

---

html, body {
	background: #f9f9f9;
}

.content {
	color: #303030;
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 16px;
	margin-top: 80px;
	margin-bottom: 50px;
}

.ui.fixed.secondary.menu {
	background-color: #282828;
}

.ui.inverted.segment {
	background-color: #282828;
}

.gist>.data{
	background-color: yellow;
}
